# Dependencies
node_modules/

# Build output
dist/

# Local env files
*.local
.env
.env.*

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor files
.vscode/*
!.vscode/extensions.json
.idea/
*.sw?

# OS files
.DS_Store
Thumbs.db
