@import '@flowtech/shared/assets/fonts.css';
@import '@flowtech/shared/theme/tokens.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 3.5rem;
  }
}
